@page "/Dashboard"

@attribute [Authorize]
@using CHKS.Models.mydb;

<PageTitle>Daily</PageTitle>
<head>
    <link href="css/Page.css" rel="stylesheet"/>
</head>
<div style="">
<RadzenRow>
    
</RadzenRow>
<RadzenRow Style="margin-top: 20px;" Gap="5px">
    <RadzenColumn Style="width: max-content;" Size="4">
        <RadzenRow>
            <RadzenText Text="Revenue" TextStyle="TextStyle.Overline"/>
        </RadzenRow>
        <RadzenRow>
            <RadzenText Text=@Revenue.ToString("$0.00") TextStyle="TextStyle.DisplayH4" />
        </RadzenRow>
    </RadzenColumn>
    <RadzenColumn Size="2" Style="">
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Radzen.Variant.Filled">
            <RadzenRow>
                <RadzenText Text="Total" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText 
                    Text=@Total.ToString("$0.00")
                    Style="text-overflow:ellipsis; overflow:hidden" 
                    TextAlign="TextAlign.Left" 
                    TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn Size="2">
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Radzen.Variant.Filled">
            <RadzenRow>
                <RadzenText Text="Import" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText Text=@ImportTotal.ToString("$0.00") 
                            Style="text-overflow:ellipsis; overflow:hidden" 
                            TextAlign="TextAlign.Left" 
                            TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Radzen.Variant.Filled">
            <RadzenRow>
                <RadzenText Text="ចំណាយ" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText Text=@ExpenseTotal.ToString("$0.00") 
                            Style="text-overflow:ellipsis; overflow:hidden" 
                            TextAlign="TextAlign.Left" 
                            TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Radzen.Variant.Filled">
            <RadzenRow>
                <RadzenText Text="Item Sold" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText Text=@SoldTotal.ToString("0") Style="text-overflow:ellipsis; overflow:hidden" TextAlign="TextAlign.Left" TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>


<RadzenRow Style="margin-top:10px">
    <RadzenColumn>
        <RadzenCard Style="box-shadow: none; background-color: lightgray; padding:5px; padding-left:15px; border-radius:20px">
            <RadzenRow>
                <RadzenDatePicker TValue="DateOnly" Placeholder="Start Date" @bind-Value="@StartingDate" Change="@FilterData"/>
                <RadzenDatePicker TValue="DateOnly" Placeholder="End Date" @bind-Value="@EndDate" Change="@FilterData"/>  
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>
<RadzenRow>
<RadzenColumn Size="7">

<RadzenRow Style="margin-top:10px">
    <RadzenColumn>
        <RadzenCard style="box-shadow: none; border-radius:20px">
            <RadzenChart style="width: 100%;" >
                
                <RadzenValueAxis Formatter=@(args => "$" + args) >
                    <RadzenGridLines Visible="true" LineType="LineType.Dashed" />
                </RadzenValueAxis>
                
                <RadzenAreaSeries Data="@Dailyrevenues.OrderBy(i => i.Date)" ValueProperty="Total" CategoryProperty="Date" LineType="LineType.Dashed"
                    TItem="@DailyRevenue" Smooth="true" Title="លក់បាន" Context="ThisDay" >
                </RadzenAreaSeries>
                <RadzenAreaSeries Data="@DailyExpenses.OrderBy(i => i.Date)" ValueProperty="Total" CategoryProperty="Date" 
                    TItem="@DailyRevenue" Smooth="true" Title="ចំណាយ" Context="ThisDay" Fill="#fd5c63" Stroke="#E52B50" >
                </RadzenAreaSeries>
                
                <RadzenCategoryAxis  Formatter=@(args => String.Join("", args?.ToString().ToCharArray(0,5)??[])) LineType="LineType.Dashed" >
                </RadzenCategoryAxis>
            </RadzenChart>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

<RadzenRow Style="margin-top:10px">
    <RadzenColumn>
        <RadzenRow>
            <RadzenColumn>
                <RadzenCard 
                    style="
                    padding:15px;
                    background-color:rgba(128, 128, 128, 0.1);
                    border-radius: 20px;
                    box-shadow:none;
                    height:100%"
                >
                    <RadzenRow>
                        <RadzenText Text="Expenses" TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center"/>
                        <RadzenButton Text="Add" Icon="add" Size="ButtonSize.Small" Click="@AddExpense"
                                        Variant="Radzen.Variant.Flat" ButtonStyle="ButtonStyle.Light" style="margin-left:auto"/>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenStack Style="width: 100%; overflow:scroll; max-height:30dvh; scroll-snap-type:mandatory" Gap="5px">
                            <Virtualize TItem="@Dailyexpense" 
                                        Context="Expense" 
                                        Items="@Dailyexpenses.ToList()" 
                                        ItemSize="50" 
                                        >
                                <RadzenCard Style="box-shadow:none; width:100%; height:50px; border-radius:10px; padding:10px" ContextMenu="@(args => ExpenseOpenContextMenu(args, Expense))">
                                    <RadzenRow >
                                        <RadzenColumn Size="4">
                                            <RadzenText Text=@(Expense.Date) TextStyle="TextStyle.Subtitle2"/>
                                        </RadzenColumn>
                                        <RadzenColumn >
                                            <RadzenText Text=@(Expense.Note) Style="overflow: hidden; text-overflow:ellipsis;" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="3">
                                            <RadzenText Text=@Expense.Expense.ToString("- $0.0") Style="color:red"/>
                                        </RadzenColumn>
                                    </RadzenRow>
                                </RadzenCard>
                            </Virtualize>
                        </RadzenStack>
                    </RadzenRow>
                </RadzenCard>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenCard style="
                    background-color:rgba(128, 128, 128, 0.1);
                    border-radius: 20px;
                    box-shadow:none;
                    height:100%"
                >
                    <RadzenRow>
                        <RadzenText Text="Recent" TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center"/>
                        <RadzenButton Text="Filter" Icon="sort" Size="ButtonSize.Small" Variant="Radzen.Variant.Flat" ButtonStyle="ButtonStyle.Light" style="margin-left:auto"/>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenStack Style="width: 100%; overflow:scroll; max-height:30dvh; scroll-snap-type:mandatory" Gap="5px">
                            <Virtualize Items="@History.ToList()" 
                                        TItem="@History" 
                                        Context="cart" 
                                        ItemSize="100" 
                                        ItemContent="@HistoryCard"/>
                        </RadzenStack>
                    </RadzenRow>
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    </RadzenColumn>
</RadzenRow>
</RadzenColumn>
    <RadzenColumn Style="padding:10px; max-height:100%">
        <RadzenCard style="
            box-shadow:none; 
            border-radius:10px; 
            height:100%;
            max-height:100%;
            ">
            <RadzenStack style="max-height:200px; overflow:scroll">
                
            </RadzenStack>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

</div>
@code{

    Virtualize<Dailyexpense> ExpenseTable = null;

    RenderFragment<History> HistoryCard = (History) => 
        @<RadzenCard Style="box-shadow:none; width:100%; height:50px; border-radius:10px; padding:10px">
            <RadzenRow > 
                <RadzenColumn Size="4">
                    <RadzenText Text="@History.CashoutDate" TextStyle="TextStyle.Subtitle2" Style="overflow:hidden; text-overflow:ellipsis; width:80%"/>
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenText Text="@History.Plate" Style="overflow: hidden; text-overflow:ellipsis;"/>
                </RadzenColumn>
                <RadzenColumn Size="3">
                    <RadzenText Text=@History.Total.GetValueOrDefault().ToString("+ $0.0") Style="color:green"/>
                </RadzenColumn>

            </RadzenRow>
        </RadzenCard>;
    private void ExpenseOpenContextMenu(MouseEventArgs args, Dailyexpense expense){
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
            new ContextMenuItem(){ Text = "Delete", Value = 1, Icon = "delete", IconColor="red" },
        }, (value) => ContextItemClick(value, expense.Key));
    }

    private async void ContextItemClick(MenuItemEventArgs args, Guid key){
        if(args.Value.Equals(1) && await DialogService.Confirm("ច្បាស់នឹងលុបមែនឬ?", "ច្បាស់ទេ?") == true){
            var Delete = Task.Run(() => mydbService.DeleteDailyexpense(key));
            
            if(Delete.Result != null){
                ContextMenuService.Close();
                StateHasChanged();
            }
        }
    }
}