@page "/dailies"

@attribute [Authorize]
@using CHKS.Models.mydb;

<PageTitle>Daily</PageTitle>
<head>
    <link href="css/Page.css" rel="stylesheet"/>
</head>
<div style="padding:20px; padding-top:20px">
<RadzenRow>
    
</RadzenRow>
<RadzenRow Style="margin-top: 20px;" Gap="5px">
    <RadzenColumn Style="width: max-content;" Size="4">
        <RadzenRow>
            <RadzenText Text="Revenue" TextStyle="TextStyle.Overline"/>
        </RadzenRow>
        <RadzenRow>
            <RadzenText Text="$20000" TextStyle="TextStyle.DisplayH4" />
        </RadzenRow>
    </RadzenColumn>
    <RadzenColumn Size="2" Style="">
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Variant.Filled">
            <RadzenRow>
                <RadzenText Text="Total" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText Text=@("200,00") Style="text-overflow:ellipsis; overflow:hidden" TextAlign="TextAlign.Left" TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn Size="2">
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Variant.Filled">
            <RadzenRow>
                <RadzenText Text="Import" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText Text=@("200,00") Style="text-overflow:ellipsis; overflow:hidden" TextAlign="TextAlign.Left" TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Variant.Filled">
            <RadzenRow>
                <RadzenText Text="ចំណាយ" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText Text=@("200,00") Style="text-overflow:ellipsis; overflow:hidden" TextAlign="TextAlign.Left" TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard Style=" height:120px; border-radius:20px; box-shadow:none" Variant="Variant.Filled">
            <RadzenRow>
                <RadzenText Text="Item Sold" TextStyle="TextStyle.Overline" Style="height: 10px; font-size:small"/>
            </RadzenRow>
            <RadzenRow Style="margin-top: 10px;">
                <RadzenText Text=@("200,00") Style="text-overflow:ellipsis; overflow:hidden" TextAlign="TextAlign.Left" TextStyle="TextStyle.DisplayH6"/>
            </RadzenRow>
            <RadzenRow>
                <div style="height: 20px; width:60px; background-color:lightgreen; border-radius:5px; padding-left:10px">
                    <RadzenText Text="+ 2%" Style="font-size:small; color:green; "/>
                </div>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

<RadzenRow Style="margin-top:10px">
    <RadzenColumn>
        <RadzenCard Style="box-shadow: none; background-color: lightgray; padding:5px; padding-left:15px; border-radius:20px">
            <RadzenRow>
                <RadzenDatePicker TValue="DateOnly" Placeholder="Start Date"/>
                <RadzenDatePicker TValue="DateOnly" Placeholder="End Date"/>  
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

<RadzenRow Style="margin-top:10px">
    <RadzenColumn Size="6">
        <RadzenCard style="box-shadow: none; border-radius:20px">
            <RadzenChart>
                <RadzenValueAxis Max="1000" Min="0" Step="250" Formatter=@(args => "$" + args)>
                    <RadzenGridLines Visible="true" LineType="LineType.Dashed" />
                </RadzenValueAxis>
                
                <RadzenLineSeries Data="@Dailyrevenues" ValueProperty="Total" CategoryProperty="Date" 
                    TItem="@DailyRevenue" Smooth="true" Title="Revenue" Context="ThisDay">
                </RadzenLineSeries>
                <RadzenCategoryAxis TickDistance="200" Padding="10"/>
            </RadzenChart>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

<RadzenRow Style="margin-top:10px">
    <RadzenColumn>
        <RadzenRow>
            <RadzenColumn>
                <RadzenCard 
                    style="
                    padding:15px;
                    background-color:rgba(128, 128, 128, 0.1);
                    border-radius: 20px;
                    box-shadow:none;"
                >
                    <RadzenRow>
                        <RadzenStack Orientation="Orientation.Horizontal" Gap="100%">
                            <RadzenText Text="Expenses" TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center"/>
                            <RadzenButton Text="Filter" Icon="sort" Size="ButtonSize.Small" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" />
                        </RadzenStack>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenStack Style="width: 100%; overflow:scroll; max-height:30dvh; scroll-snap-type:mandatory" Gap="5px">
                            <Virtualize TItem="@Dailyexpense" 
                                        Context="Expense" 
                                        Items="@Dailyexpenses.ToList()" 
                                        ItemSize="50" 
                                        ItemContent="@ExpenseCard"/>
                        </RadzenStack>
                    </RadzenRow>
                </RadzenCard>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenCard style="
                    background-color:rgba(128, 128, 128, 0.1);
                    border-radius: 20px;
                    box-shadow:none;"
                >
                    
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    </RadzenColumn>
    <RadzenColumn>
    </RadzenColumn>
</RadzenRow>

<RadzenStack Orientation="Orientation.Horizontal" Style="margin-top: 30px; margin-left:30px; width:100%; padding:10px">
    
    
    <RadzenStack Orientation="Orientation.Vertical">
        <!--<RadzenCard Style=" width:20%; min-width:fit-content; height:50%; padding:10px;" >
            <RadzenStack Style="height:100%">
                <RadzenText Text="លុយអាប់:" TextStyle="TextStyle.Overline" TextAlign="TextAlign.Center" style="font-size:x-large; margin-bottom:10px; width:300px"/>
                <RadzenButton Icon="add" Text="Add Cashback" Click="@AddBtnClickCashback" style="width:300px" />
                <RadzenDataGrid @ref="grid3" Data="@Cashbacks" TItem="Models.mydb.Cashback" RowCreate="@GridCreate" RowUpdate="@GridRowUpdate" style="width:300px; height:70%;" AllowPaging=false>
                    <Columns>
                        <RadzenDataGridColumn TItem="Models.mydb.Cashback" Property="Name" Title="ចំណាំ" Width="90px">
                            <EditTemplate Context="Cashback">
                                <RadzenTextBox @bind-Value="@Cashback.Name" />
                            </EditTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Models.mydb.Cashback" Property="Amount" Title="ចំណាយ">
                            <EditTemplate Context="Cashback">
                                <RadzenNumeric @bind-Value="@Cashback.Amount" />
                            </EditTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn>
                            <EditTemplate Context="Cashback">
                                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                    style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                                    Click=@(args => SaveButtonClick(args, Cashback)) @onclick:stopPropagation="true" />
                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                    Click=@(args => CancelButtonClick(args, Cashback)) @onclick:stopPropagation="true" />
                            </EditTemplate>
                            <Template Context="Cashback">

                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                                Click=@(args => EditButtonClick(args, Cashback)) @onclick:stopPropagation="true" />

                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                Shade="Shade.Lighter" Variant="Variant.Flat"
                                Click=@(args => GridDeleteButtonClick(args, Cashback)) @onclick:stopPropagation="true" />
                        </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenStack>
        </RadzenCard>-->
        <!--<RadzenCard Style=" width:20%; min-width:fit-content;height:100%; padding:10px;" >
            <RadzenStack style="height:100%">
                <RadzenText Text="ចំណាយ:" TextStyle="TextStyle.Overline" TextAlign="TextAlign.Center" style="font-size:x-large; margin-bottom:10px; width:300px"/>
                <RadzenButton Icon="add" Text="Add Expense" Click="@AddBtnClick" style="width:300px" />
                <RadzenDataGrid @ref="grid2" Data="@Dailyexpenses" TItem="Models.mydb.Dailyexpense" RowCreate="@GridCreate" RowUpdate="@GridRowUpdate" style="width:300px ; height:100%" AllowPaging=true >
                    <Columns>
                        <RadzenDataGridColumn TItem="Models.mydb.Dailyexpense" Property="Note" Title="ចំណាំ" Width="90px">
                            <EditTemplate Context="expense">
                                <RadzenTextBox @bind-Value="@expense.Note" />
                            </EditTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Models.mydb.Dailyexpense" Property="Expense" Title="ចំណាយ">
                            <EditTemplate Context="expense">
                                <RadzenNumeric @bind-Value="@expense.Expense" />
                            </EditTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn>
                            <EditTemplate Context="expense">
                                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                    style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                                    Click=@(args => SaveButtonClick(args, expense)) @onclick:stopPropagation="true" />
                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                    Click=@(args => CancelButtonClick(args, expense)) @onclick:stopPropagation="true" />
                            </EditTemplate>
                            <Template Context="expense">

                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                                Click=@(args => EditButtonClick(args, expense)) @onclick:stopPropagation="true" />

                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                Shade="Shade.Lighter" Variant="Variant.Flat"
                                Click=@(args => GridDeleteButtonClick(args, expense)) @onclick:stopPropagation="true" />
                        </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenStack>
        </RadzenCard>-->
    </RadzenStack>
</RadzenStack>

</div>

<style>

</style>

@code{
    RenderFragment<Dailyexpense> ExpenseCard = (Expense) => 

        @<RadzenCard Style="box-shadow:none; width:100%; height:50px; border-radius:10px; padding:10px">
            <RadzenRow>
                <RadzenColumn Size="4">
                    <RadzenText Text=@(Expense.Date) TextStyle="TextStyle.Subtitle2"/>
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenText Text=@(Expense.Note) Style="overflow: hidden; text-overflow:ellipsis;" />
                </RadzenColumn>
                <RadzenColumn Size="3">
                    <RadzenText Text=@(Expense.Expense.ToString("$0.0"))/>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>;
}