@page "/"

@attribute [Authorize]
<head>
    <link href="css/Page.css" rel="stylesheet"/>
</head>

<PageTitle >Cashier</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style=" margin-left:30px; width:100%">
    <RadzenStack Orientation="Orientation.Vertical" Style="width: 70%; margin-top:30px;">


        <RadzenRow>
            <h1 Style="font-size: x-large; font-family: 'Khmer OS Battambang'; color:#28282B">អតិថជន</h1>
        </RadzenRow>

        <RadzenRow Style="height: 120px; width: 1000px" >
            <div Style=" display:inline-flex ;flex-wrap:nowrap ;scroll-snap-type: y mandatory; scroll-snap-align: center; scroll-snap-stop: always; overflow-x:scroll; width:100%; gap:inherit; ScrollBar:  ">
                <div Style="min-width: 320px; border-radius:10px; height: 120px; background-color: #C6E4EE; padding: 20px; border:solid; border-width:1px; border-color:#ADD8E6;" @onclick="@CreateCustomer">
                    <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 35px;">
                        <p Style="font-size: x-large; font-family: 'Khmer OS Battambang'; margin-right:auto; color:#28282B"><b>#បង្កើតថ្មី</b></p>
                        <div Style="width:60px; height: 25px; margin-left:auto; background-color:steelblue; border-radius:15px; border:solid; border-width:2px; border-color:#CEE5ED; color:white; text-align:center; vertical-align:middle">New</div>
                    </RadzenRow>
                    <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 25px; ">
                        <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-right:auto; color: gray;">បង្កើតដោយ</p>
                        <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray">ចំនួនមុខ</p>
                    </RadzenRow>
                    <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 20px; margin-top:3px">
                        <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray">រយះពេល</p>
                    </RadzenRow>
                </div>
                @if(Carts != null){
                    @foreach( var customer in Carts){
                        Console.WriteLine(customer.Plate);
                        <div Style="min-width: 320px; border-radius:10px; height: 120px; background-color:antiquewhite; padding: 20px;border:solid ;border-width:1px; border-color:burlywood" @onclick="@(args => OpenCart(customer))">
                            <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 35px;">
                                <p Style="font-size: x-large; font-family: 'Khmer OS Battambang'; margin-right:auto; color:#28282B"><b>@(customer.Plate + "#" + customer.CartId)</b></p>
                                <div Style="width:max-content; height: 25px; margin-left:auto; background-color:chocolate; border-radius:15px; border:solid; border-width:2px; border-color:chocolate; color:white; text-align:center; vertical-align:middle; padding-left:5px; padding-right:5px">Working</div>
                            </RadzenRow>
                            <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 25px; ">
                                <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-right:auto; color: gray;">@Security.User?.Name</p>
                                <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray"></p>
                            </RadzenRow>
                            <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 20px; margin-top:3px">
                                <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray">រយះពេល</p>
                            </RadzenRow>
                        </div>
                    }
                }
            </div>
        </RadzenRow>
        <!--<RadzenRow Style="margin-top: 20px; height:20px">
            <h1 Style="font-size: x-large; font-family: 'Khmer OS Battambang'; color:#28282B">ក្រុមទំនិញ</h1>
        </RadzenRow>
        <div style="color:lightgray; height:10px">
            __________________________________________________________________________________________________________________________________________________________________
        </div>
        <RadzenRow style=" margin-right:auto; width:95%;">
            
            <div Style="overflow-x: scroll; width:fit-content; height:150px; overflow-y: visible; overflow-x: scroll; display:inline-flex">
                <div style="width:220px; height:120px; background-color:white; border-radius:15px; padding:10px; border:solid; border-color:lightgray; border-width:2px; margin-left:10px">
                    <RadzenRow Style="height:50px" AlignItems="AlignItems.Center">
                        <p style="font-family: 'Khmer OS Battambang'; font-size:xx-large; margin-top:5px"><b>All</b></p>
                    </RadzenRow>
                    <RadzenRow Style="height:40px">
                        <p style="font-family: 'Khmer OS Battambang'; font-size:medium; color:gray"><b>12 មុខ</b></p>
                    </RadzenRow>
                </div>
                
            </div>
        </RadzenRow>-->
        <RadzenRow Style="margin-top: 5px;">
            <h1 Style="font-size: x-large; font-family: 'Khmer OS Battambang'; color:#28282B">ទំនិញ</h1>
        </RadzenRow>
        <RadzenRow  Style=" height: 70dvh; width:100%; overflow-y: scroll; overflow-x: hidden;">
            <div Style=" display:flex; flex-wrap:wrap; align-content:space-between; scroll-snap-type: y mandatory; scroll-snap-align: center; scroll-snap-stop: always;">
                @if(Inventories != null){
                    @foreach(var product in Inventories){
                        <div style="width:320px; height:150px; background-color:transparent; border-radius:15px; padding:20px; border:solid; border-color:lightgray; 
                        border-width:2px; margin-left:10px; margin-top:10px;" @onclick= "@(args => AddItemtoCart(product))" >
                            <RadzenRow>

                                @if(@product.Stock == 0){
                                    <div style="width:40%; background-color: red; height:10px; border-radius:15px;"></div>
                                }else if(@product.Stock <= 3){
                                    <div style="width:40%; background-color: #E3E566; height:10px; border-radius:15px;"></div>
                                }else if(@product.Stock >= 4){
                                    <div style="width:40%; background-color: #059142; height:10px; border-radius:15px;"></div>
                                }

                                
                            </RadzenRow>
                            <RadzenStack Orientation="Orientation.Vertical" Style="margin-top:20px">
                                <RadzenRow Style="height:30px">
                                    <p style="font-family: 'Khmer OS Battambang'; font-size:1.3rem; margin-top:5px"><b>@product.Name</b></p>
                                </RadzenRow>
                                <RadzenRow Style="height:30px">
                                    <p style="font-family: 'Khmer OS Battambang'; font-size:larger; color:gray"><b>$ @Math.Round(product.Export.GetValueOrDefault(),2).ToString()</b></p>
                                </RadzenRow>
                            </RadzenStack>
                        </div>
                    }
                }
            </div>
        </RadzenRow>

        
    </RadzenStack>

    <div Style="margin-left:auto; width:30%; height:100dvh; background-color: #fff; border-radius:15px 0px 0px 15px">
        <div Style="margin-top: 40px; margin-left:60px">
            <RadzenRow Style="width:80%" AlignItems="AlignItems.Start">
                <p style="font-family: 'Khmer OS Battambang'; font-size: 2rem; color:#28282B; margin-right:auto; overflow:hidden; width:190px "><b>@(Customer.Plate != null?Customer.Plate + "#" + Customer.CartId:"********")</b></p>
                <RadzenButton Icon="save" Click="@ResetToDefault" style="width:25px; height:25px;border-radius:13px; background-color:transparent; border:solid;border-width:2px; border-color:lightgray; color:green; padding:1.5px;"/>
                <RadzenButton Icon="delete" Click="@DeleteCustomer"style="width:25px; height:25px;border-radius:13px; background-color:transparent; border:solid;border-width:2px; border-color:lightgray; color:red; padding:1.5px"/>
            </RadzenRow>
            
            <RadzenRow AlignItems="AlignItems.Center">
                <p style="font-family: 'Khmer OS Battambang'; font-size: medium; color:gray; margin-right:auto; height:20px"><b>@(Customer.Car != null?Customer.Car.Type:"Unknown")</b></p>
                <p style="font-family: 'Khmer OS Battambang'; font-size: medium; color:gray; margin-right:20%; "><b>@Security.User?.Name</b></p>
            </RadzenRow>
            <p style="font-family: 'Khmer OS Battambang'; font-size: medium; color:gray; margin-right:auto; height:10px "><b>@(Customer.Car != null?Customer.Car.Phone:0)</b></p>

            <div style="color:lightgray; overflow:hidden; height:20px; width:80%">
                ---------------------------------------------------------------------------------------
            </div>

            <div style="width:83%; height:60dvh ;">
                <RadzenStack Orientation="Orientation.Vertical" Gap="10px" Style="overflow-x: hidden; overflow-y:hidden">
                @if(Customer.Plate != null && Connectors != null){
                    @foreach (var Hiscon in Connectors)
                    {
                        <div style="width:98%; height:110px; border-radius:15px; background-color:whitesmoke">
                            <RadzenStack Orientation="Orientation.Horizontal">
                                <RadzenStack Style="width:fit-content; height:100%; margin-left:5%" Orientation="Orientation.Vertical" Gap="0px">
                                    <RadzenButton Icon="add" style="width: 12px; height:2px; background-color:transparent; border-width:0px;color:#28282B"/>
                                    <div ReadOnly=true Style="border-radius: 30px; width:35px; height:35px; background-color:white; text-align:center; padding-top:10px"> @Math.Round(Hiscon.Qty).ToString()</div>
                                    <RadzenButton Icon="remove" Style="width: 12px; height:2px; background-color:transparent; border-width:0px;color:#28282B"/>
                                </RadzenStack>
                                <RadzenStack Style="margin-top: 45px; margin-left:20px">
                                    <RadzenText Text="@Hiscon.Product" Style="font-family: 'Khmer OS Battambang';  font-size:x-large; color:#28282B"/>
                                </RadzenStack>
                            </RadzenStack>
                        </div>
                    }
                }
                </RadzenStack>
            </div>

            
        </div>
    </div>

</RadzenStack>

