@page "/"

@attribute [Authorize]
<head>
    <link href="css/Page.css" rel="stylesheet"/>
</head>

<PageTitle >Cashier</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style=" margin-left:30px; width:100%">
    <RadzenStack Orientation="Orientation.Vertical" Style="width: 70%; margin-top:30px;">


        <RadzenRow>
            <RadzenText Text="អតិថជន" Style="font-size: xx-large; font-family: 'Khmer OS Battambang'; color:#28282B"/>
        </RadzenRow>

        <RadzenRow Style="height: 120px; width:100%" >
            <RadzenStack Orientation="Orientation.Horizontal" Style="overflow: scroll;" JustifyContent="JustifyContent.SpaceBetween" Gap="10px">
                <div Style="width: 320px; border-radius:10px; height: 120px; background-color: #C6E4EE; padding: 20px;border:solid ;border-width:1px; border-color:#ADD8E6" @onclick="@CreateCustomer">
                    <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 35px;">
                        <p Style="font-size: x-large; font-family: 'Khmer OS Battambang'; margin-right:auto; color:#28282B"><b>#បង្កើតថ្មី</b></p>
                        <div Style="width:60px; height: 25px; margin-left:auto; background-color:steelblue; border-radius:15px; border:solid; border-width:2px; border-color:#CEE5ED; color:white; text-align:center; vertical-align:middle">New</div>
                    </RadzenRow>
                    <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 25px; ">
                        <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-right:auto; color: gray;">បង្កើតដោយ</p>
                        <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray">ចំនួនមុខ</p>
                    </RadzenRow>
                    <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 20px; margin-top:3px">
                        <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray">រយះពេល</p>
                    </RadzenRow>
                </div>
                @foreach( var customer in Carts){
                    <div Style="width: 320px; border-radius:10px; height: 120px; background-color:antiquewhite; padding: 20px;border:solid ;border-width:1px; border-color:burlywood" @onclick="@(args => OpenCart(customer))">
                        <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 35px;">
                            <p Style="font-size: x-large; font-family: 'Khmer OS Battambang'; margin-right:auto; color:#28282B"><b>@(customer.Plate + "#" + customer.CartId)</b></p>
                            <div Style="width:max-content; height: 25px; margin-left:auto; background-color:chocolate; border-radius:15px; border:solid; border-width:2px; border-color:chocolate; color:white; text-align:center; vertical-align:middle; padding-left:5px; padding-right:5px">Working</div>
                        </RadzenRow>
                        <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 25px; ">
                            <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-right:auto; color: gray;">@Security.User?.Name</p>
                            <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray"></p>
                        </RadzenRow>
                        <RadzenRow JustifyContent="JustifyContent.Center" Style="height: 20px; margin-top:3px">
                            <p Style="font-size: medium; font-family: 'Khmer OS Battambang'; margin-left: auto; color: gray">រយះពេល</p>
                        </RadzenRow>
                    </div>
                }
            </RadzenStack>
        </RadzenRow>

        
    </RadzenStack>

    <div Style="margin-left:auto; width:30%; height:100dvh; background-color: #fff; border-radius:15px 0px 0px 15px">
        <div Style="margin-top: 40px; margin-left:60px">
            <RadzenRow Style="width:80%" AlignItems="AlignItems.Start">
                <p style="font-family: 'Khmer OS Battambang'; font-size: 2rem; color:#28282B; margin-right:auto; "><b>@(Customer.Plate != null?Customer.Plate + "#" + Customer.CartId:"********")</b></p>
                <RadzenButton Icon="save" Click="@ResetToDefault" style="width:25px; height:25px;border-radius:13px; background-color:transparent; border:solid;border-width:2px; border-color:lightgray; color:green; padding:1.5px;"/>
                <RadzenButton Icon="delete" Click="@DeleteCustomer"style="width:25px; height:25px;border-radius:13px; background-color:transparent; border:solid;border-width:2px; border-color:lightgray; color:red; padding:1.5px"/>
            </RadzenRow>
            
            <RadzenRow AlignItems="AlignItems.Center">
                <p style="font-family: 'Khmer OS Battambang'; font-size: medium; color:gray; margin-right:auto; height:20px"><b>@(Customer.Car != null?Customer.Car.Type:"Unknown")</b></p>
                <p style="font-family: 'Khmer OS Battambang'; font-size: medium; color:gray; margin-right:20%; "><b>@Security.User?.Name</b></p>
            </RadzenRow>
            <p style="font-family: 'Khmer OS Battambang'; font-size: medium; color:gray; margin-right:auto; height:10px "><b>@(Customer.Car != null?Customer.Car.Phone:0)</b></p>

            <div style="color:lightgray;">
                ---------------------------------------------------------------------------------------
            </div>

            <div style="width:83%; height:60dvh ;">
                <RadzenStack Orientation="Orientation.Vertical" Gap="10px" Style="overflow-x: hidden; overflow-y:hidden">
                @if(Customer.Plate != null){
                    @foreach (var Hiscon in Connectors)
                    {
                        <div style="width:98%; height:110px; border-radius:15px; background-color:whitesmoke">
                            <RadzenStack Orientation="Orientation.Horizontal">
                                <RadzenStack Style="width:fit-content; height:100%; margin-left:5%" Orientation="Orientation.Vertical" Gap="0px">
                                    <RadzenButton Icon="add" style="width: 12px; height:2px; background-color:transparent; border-width:0px;color:#28282B"/>
                                    <div ReadOnly=true Style="border-radius: 30px; width:35px; height:35px; background-color:white; text-align:center; padding-top:10px"> @Math.Round(Hiscon.Qty).ToString()</div>
                                    <RadzenButton Icon="remove" Style="width: 12px; height:2px; background-color:transparent; border-width:0px;color:#28282B"/>
                                </RadzenStack>
                                <RadzenStack Style="margin-top: 45px; margin-left:20px">
                                    <RadzenText Text="@Hiscon.Product" Style="font-family: 'Khmer OS Battambang';  font-size:x-large; color:#28282B"/>
                                </RadzenStack>
                            </RadzenStack>
                        </div>
                    }
                }
                </RadzenStack>
            </div>

            
        </div>
    </div>

</RadzenStack>

