@layout MainLayout
@page "/print-page"

@attribute [Authorize]
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@using System.Globalization



<RadzenStack Orientation="Orientation.Vertical" >

    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenRow>
            <RadzenImage Path="images/Full_logo.png" Style="width: 250px; height: 250px; margin-left: 20px" />
        </RadzenRow>
        <RadzenStack Orientation="Orientation.Vertical" Style=" width:100%;">
            <RadzenStack AlignItems="AlignItems.Center">
                <RadzenText Text="ធីភី​ ស័រវីស សេនធ័រ" Style="font-family: 'Khmer OS Battambang', serif; font-size:50pt; margin-top:100px "/>
                <RadzenText Text="TP Service Centre"  Style="font-family:'Khmer OS Battambang', serif; font-size:40pt; margin-top:20px"/>
            </RadzenStack>
        </RadzenStack>
        
    </RadzenStack>
    <RadzenText Text="ទីតាំង ៖ តាមបណ្តោយផ្លូវជាតិលេខ ៥​ សង្កាត់ផ្សារកណ្តាល ក្រុងប៉ោយប៉ែត ខេត្តបន្ទាយមានជ័យ" Style=" font-family:'Khmer OS Battambang', serif; font-size:x-large; margin-left:auto; margin-right:auto"/>
    <RadzenText Text="លេខទាក់ទង / Tel​ ៖​​ 017 706 535​ /​ 010 706 535​ " Style=" font-family:'Khmer OS Battambang', serif; font-size:x-large; margin-left:auto; margin-right:auto"/>

    <RadzenColumn>

        <div style="width:100%; border-top:solid; border-top-color:lightgray; border-width:2px; margin-bottom:20px"></div>

        <RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal" Style="height: 180px;">
                <RadzenCard Variant="Variant.Outlined" Style="width: 50%; padding:20px; border-color:gray; height:100%; border-radius:20px"  >
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenColumn Style="margin-right:30px; height: 70px; width:fit-content; padding:10px;" >
                            <RadzenRow>
                                <RadzenText Text="ផ្លាកលេខ ៖" Style="font-size: x-large; font-family:'Khmer OS Battambang'"/>
                            </RadzenRow>
                            <RadzenRow Style="margin-top: 30px;">
                                <RadzenText Text="មាកឡាន ៖"Style="font-size: x-large; font-family:'Khmer OS Battambang'"/>
                            </RadzenRow>
                            <RadzenRow Style="margin-top: 30px;">
                                <RadzenText Text="លេខទូរស័ព្ទ ៖" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>

                        </RadzenColumn>
                        <RadzenColumn Style="margin-right:30px; height: 70px; width:fit-content; padding:10px;" >
                            <RadzenRow>
                                <RadzenText Text="@Customer.Plate" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>
                            <RadzenRow Style="margin-top: 30px;">
                                <RadzenText Text="@Customer.Type" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>
                            <RadzenRow Style="margin-top: 30px;">
                                <RadzenText Text="@Customer.Phone" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>

                        </RadzenColumn>

                    </RadzenStack>
                </RadzenCard>
                
                <RadzenCard Variant="Variant.Outlined" Style="width: 50%; padding:20px; border-color:gray; border-radius:20px">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenColumn Style="margin-right:20px; height: 50px; padding:10px" >
                            <RadzenRow >
                                <RadzenText Text="អ្នកគិតលុយ ៖" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>
                            <RadzenRow Style="margin-top: 30px;">
                                <RadzenText Text="ថ្ងៃខែទី ៖" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Style="margin-right:5px; height: 50px; padding:10px" >
                            <RadzenRow >
                                <RadzenText Text="All" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>
                            <RadzenRow Style="margin-top: 30px;">
                                <RadzenText Text="@today" Style="font-size: x-large; font-family:'Khmer OS Battambang', serif"/>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenStack>
                </RadzenCard>
            </RadzenStack>

            <div style="width:100%; border-top:solid; border-top-color:lightgray; border-width:2px"></div>

            

            <RadzenDataGrid @ref="Grid1" ColumnWidth="210px" Data="@Connector" TItem="Models.mydb.Connector" AllowColumnPicking="false" Style = "height: 50vh; font-family:'Khmer OS Battambang'; border:solid; border-width:1px; border-radius:20px" GridLines="Radzen.DataGridGridLines.Horizontal" PageSizeText="10">
                <Columns>
                    <RadzenDataGridColumn TItem="CHKS.Models.mydb.Connector" TextAlign="TextAlign.Center">
                        <HeaderTemplate >
                            <RadzenText style="font-size: x-large; font-family:'Khmer OS Battambang'; height:20px; margin-top:10px;"><b> ឈ្មោះទំនេញ</b></RadzenText>
                        </HeaderTemplate>

                        <Template Context="connector">
                            <a style="font-size: x-large;"> @connector.Product</a>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CHKS.Models.mydb.Connector" TextAlign="TextAlign.Center" Width="70px">
                        <HeaderTemplate>
                            <RadzenText style="font-size: x-large; font-family:'Khmer OS Battambang'; height:20px; margin-top:10px;"><b> ចំនួន </b></RadzenText>
                        </HeaderTemplate>
                        <Template Context="connector">
                            <a style="font-size: x-large;"> @((connector.Qty - Math.Truncate(connector.Qty*100)/100)==0? Math.Truncate(connector.Qty*100)/100: connector.Qty ) </a>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CHKS.Models.mydb.Connector" TextAlign="TextAlign.Center" Width="100px">
                        <HeaderTemplate>
                            <RadzenText style="font-size: x-large; font-family:'Khmer OS Battambang'; height:20px; margin-top:10px;"><b>​ តម្លៃរាយ</b></RadzenText>
                        </HeaderTemplate>
                        <Template Context="connector">
                            <a style="font-size: x-large;"> @((connector.Qty * connector.PriceOverwrite).GetValueOrDefault().ToString("C", new CultureInfo("en-US")))</a>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CHKS.Models.mydb.Connector" Property="Total" FormatString="${0:N2}" TextAlign="TextAlign.Center" Width="100px">
                        <HeaderTemplate>
                            <RadzenText style="font-size: x-large; font-family:'Khmer OS Battambang'; height:20px; margin-top:10px;"><b> តម្លៃសរុប </b></RadzenText>
                        </HeaderTemplate>
                        <Template Context="connector">
                            <a style="font-size: x-large;"> @((connector.Qty * connector.PriceOverwrite).GetValueOrDefault().ToString("C", new CultureInfo("en-US")))</a>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
            <RadzenRow>
                <RadzenRow>
                    <RadzenText  style="width:fit-content; margin-left:10px; font-family: 'Khmer OS Battambang'; font-size:x-large"><b>អ្នកទិញ / The Buyer</b></RadzenText>
                    <RadzenText style="width:fit-content; margin-left:100px ;font-family: 'Khmer OS Battambang'; font-size:x-large"><b>អ្នកលក់ / The Seller</b></RadzenText>
                </RadzenRow>
                <RadzenCard Variant="Variant.Outlined" Style=" padding:20px; border-color:gray; width:35%; margin-left:auto;" >
                    <RadzenRow>
                        <RadzenText  Style="font-size: x-large; font-family: 'Khmer OS Battambang';"><b>សរុប / Total ៖</b></RadzenText>	
                        <RadzenText Text="@total" Style="font-family: 'Khmer OS Battambang'; font-size:x-large; margin-left:50px "/>
                    </RadzenRow>
                </RadzenCard>
            </RadzenRow>

        </RadzenStack>
        <RadzenCard Variant="Variant.Text" Style="height: 12%;"/>
            
    </RadzenColumn>
</RadzenStack>

@code{
    

    [Inject]
    mydbService MydbService {get; set;}

    [Parameter]
    public int Id {get; set;}

    protected string PaymentType;
    protected string today;

    protected Models.mydb.Cart CustomerCart;
    protected Models.mydb.Car Customer;

    protected IEnumerable<Models.mydb.Connector> Connector;
    protected RadzenDataGrid<Models.mydb.Connector> Grid1;

    protected string total;

    protected override async Task OnInitializedAsync()
    {
        

        today = DateTime.Now.ToString("dd/MM/yyyy");
        Customer = new Models.mydb.Car{};

        CustomerCart = await MydbService.GetCartByCartId(Id);
        Customer = CustomerCart.Car;

        Connector = await MydbService.GetConnectors();
        Connector = Connector.Where(i => i.CartId == Id);

        total = (Connector.Sum(i => i.PriceOverwrite * i.Qty )).GetValueOrDefault().ToString("C", new CultureInfo("en-US") );

    }

        protected async override Task OnAfterRenderAsync(bool firstRender)
        {
            await printMe();
            DialogService.Close();
        }

        protected async Task printMe(){
            await JSRuntime.InvokeVoidAsync("window.print");
        }

}