@page "/recipt-view"

@attribute [Authorize]

<PageTitle>ReciptView</PageTitle>

<RadzenRow Style="margin-bottom: 3%;">
    <RadzenCard style="Width:100%; background-color:#28282B; height:110px; border-radius:15px; padding-top:25px" >
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenText Text="ថ្ងៃទី:"  Style="font-size:x-large; color:aliceblue; font-family:'Khmer OS Battambang"/>
                <RadzenText Text="@Date" Style="font-size:x-large; color:aliceblue; font-family:'Khmer OS Battambang"/>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" style="margin-left:10px">
                <RadzenText Text="ផ្លាកលេខ:" Style="font-size:x-large; color:aliceblue; font-family:'Khmer OS Battambang"/>
                <RadzenText Text="@CustomerID" Style="font-size:x-large; color:aliceblue;font-family:'Khmer OS Battambang"/>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" style="margin-left:10px">
                <RadzenText Text="ម៉ាកឡាន:" Style="font-size:x-large; color:aliceblue; font-family:'Khmer OS Battambang"/>
                <RadzenText Text="@History.Car.Type" Style="font-size:x-large; color:aliceblue;font-family:'Khmer OS Battambang"/>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center" style="margin-left:10px">
                <RadzenText Text="លេខទូរសព្ទ:" Style="font-size:x-large; color:aliceblue; font-family:'Khmer OS Battambang"/>
                <RadzenText Text="@History.Car.Phone" Style="font-size:x-large; color:aliceblue;font-family:'Khmer OS Battambang"/>
            </RadzenRow>
        </RadzenStack>
    </RadzenCard>
    <div style="Width:100%; background-color:#28282B; height:50px; border-radius:15px;padding:5px; ">
        <RadzenButton Style="margin-left:auto; color:white; border-radius:15px;" Icon="add_circle_outline" Click="@OpenInventory"/>
    </div>
    <RadzenDataGrid @ref="grid0" AllowFiltering="false" Data="@Historyconnector" TItem="CHKS.Models.mydb.Historyconnector" GridLines="Radzen.DataGridGridLines.Horizontal" style="Height:35vh; border-radius:15px;" 
    AllowColumnResize=true AllowPaging=false RowUpdate="@GridRowUpdate">
     <Columns>
        <RadzenDataGridColumn TItem="CHKS.Models.mydb.Historyconnector" Property="Product" Title="Name" Width="350px" TextAlign="TextAlign.Center">
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CHKS.Models.mydb.Historyconnector" Property="Qty" Title="Qty" FormatString="{0:N2}" Width="50px" TextAlign="TextAlign.Center">
            <EditTemplate Context="Historyconnector">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Historyconnector.Qty" Name="Qty" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CHKS.Models.mydb.Historyconnector" Property="Inventory.Import" Title="Import" FormatString="${0:N2}" TextAlign="TextAlign.Center" Width="100px"> 
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CHKS.Models.mydb.Historyconnector" Property="Export" Title="Export" FormatString="${0:N2}"TextAlign="TextAlign.Center" Width="100px">
            <EditTemplate Context="Historyconnector">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Historyconnector.Export" Name="Export" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CHKS.Models.mydb.Historyconnector" Property="Note" Title="Note" TextAlign="TextAlign.Center" Width="200px">
            <EditTemplate Context="Historyconnector">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Historyconnector.Note" Name="Note" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center">
            <EditTemplate Context = "Historyconnector">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium"
                    style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                    Click=@(args => SaveButtonClick(args, Historyconnector)) @onclick:stopPropagation="true" />
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                    Click=@(args => CancelButtonClick(args, Historyconnector)) @onclick:stopPropagation="true" />
            </EditTemplate>
            <Template Context="Historyconnector">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                    style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                    Click=@(args => EditButtonClick(args, Historyconnector)) @onclick:stopPropagation="true" />
            </Template>
        </RadzenDataGridColumn>
        
     </Columns>
    </RadzenDataGrid>
    <RadzenCard style="Width:30%; background-color:#28282B; height:60px; border-radius:15px; padding-top:20px; margin-left:auto" >
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End">
            <RadzenRow style="width:fit-content; ">
                <RadzenText Text="សរុប:"  Style="font-size:x-large; color:aliceblue; font-family:'Khmer OS Battambang'; margin-right:auto"/>
                <RadzenText Text="@( '$'+ Math.Round(History.Total.GetValueOrDefault(),2).ToString())" Style="font-size:x-large; color:aliceblue; font-family:'Khmer OS Battambang'; margin-left:auto"/>
            </RadzenRow>
        </RadzenStack>
    </RadzenCard>
</RadzenRow>
